header {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;

    .overlay {
        position: absolute;
        inset: 0;
        width: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), #000);
    }

    &>img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container {
        position: relative;
        height: 100%;
        z-index: 99;
        display: flex;
        align-items: flex-end;

        .inner-content {
            display: grid;
            grid-template-columns: 100%;
            margin-top: 85px;
            width: 100%;

            @include medium {
                margin-top: 150px;
                gap: 70px;
                grid-template-columns: 380px 1fr;
            }

            img {
                max-width: 100%;
                aspect-ratio: 4/3.5;
                width: 100%;
                object-fit: cover;
                object-position: top;

                @include medium {
                    max-width: 380px;
                    aspect-ratio: 4/5;
                }
            }

            .personal-info {
                color: $base;
                padding-top: 30px;
                white-space: break-spaces;

                h1 {
                    text-transform: uppercase;
                    color: #fff;
                    transition: all ease 0.3s;
                    font-size: 45px;

                    @include medium {
                        font-size: 55px;
                    }

                    span {
                        margin: 0 2.5px;
                    }
                }

                .bio {
                    margin-top: 40px;

                    @include medium {
                        margin-top: 50px;
                    }

                    .row {
                        margin-bottom: 15px;
                        display: grid;
                        grid-template-columns: 100px 1fr;

                        .info {
                            width: 100px;
                            margin-bottom: 15px;
                        }

                        .detail {
                            color: #fff;
                            flex: 1;
                            max-width: 200px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;

                            @include medium {
                                white-space: initial;
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.social {
    display: flex;
    align-items: center;
    gap: 20px;

    .links {
        a {
            font-size: 24px;

            @include medium {
                font-size: 28px;
            }

            svg {
                fill: $contrast
            }
        }
    }
}