#my-project {
    padding: 25px 0;

    @include medium {
        padding: 50px 0;
    }

    .tabs {
        margin-top: 30px;
        display: flex;
        gap: 10px;

        @include medium {
            gap: 20px;
        }

        .tab-item {
            border-radius: 2px;
            position: relative;
            cursor: pointer;
            color: $base;
            transition: background ease 0.3s;
            padding: 5px 10px;

            @include medium {
                padding: 5px 15px;
            }

            &:after {
                content: "";
                height: 2px;
                width: 0%;
                background-color: $contrast;
                display: block;
                transition: width ease 0.3s;
            }

            &.active {
                background-color: $graphite;
                color: #fff;
                pointer-events: none;

                &::after {
                    width: 100%;
                    content: "";
                }
            }

            &:hover {
                background-color: $graphite;
                color: #fff;

                &::after {
                    width: 100%;
                    content: "";
                }
            }
        }
    }

    .tab-container {
        margin-top: 30px;

        .tab-content {
            display: flex;
            flex-flow: column;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 15px;

                @include medium {
                    margin-bottom: 30px;

                    
                }
            }

            @include medium {
                flex-flow: row;
            }

            .image-wrapper {
                width: 100%;
                aspect-ratio: 4/3.5;

                @include medium {
                    // aspect-ratio: 4/4;
                    width: 250px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }

            .tab-text-content {
                position: relative;
                padding: 30px;
                border-radius: 2px;
                background-color: #131212;

                @include medium {
                    width: calc(100% - 250px);
                }

                p {
                    margin-bottom: 20px;
                }

                span {
                    font-size: 12px;
                }

                h4 {
                    font-size: 24px;
                    color: #fff;
                }

                .tags {
                    display: flex;
                    margin-top: 10px;
                    flex-flow: wrap;
                    gap: 10px;

                    @include medium {
                        gap: 15px;
                    }

                    span {
                        background-color: #2e2e2e;
                        padding: 5px;
                        border-radius: 2px;
                    }
                }

                .source {
                    margin-top: 15px;

                    @include default {
                        margin-top: 0;
                        position: absolute;
                        right: 30px;
                        bottom: 30px;
                    }

                    a {
                        color: $contrast;
                    }
                }
            }
        }
    }
}